@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">       
        <li>@Html.ActionLink("Newton", "Newton", "Newton")</li>
    </div>
    <div class="col-md-4">
        <li>@Html.ActionLink("Newton", "Newton", "Newton")</li>
    </div>
    <div class="col-md-4">
        <li>@Html.ActionLink("Newton", "Newton", "Newton")</li>
    </div>
</div>